
.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Adjusted to space between to push footer down */
  min-height: 100vh; /* Make sure the main container fills at least the whole viewport height */
}


.contentContainer {
  /* flex: 1; Allows this container to grow and take up available space */
  flex-grow: 1; /* Allows this container to expand */
  display: flex;
  flex-direction: column;
}


html, body {
  height: 100%;
  margin: 0;
}


body {
  color: rgb(var(--foreground-rgb)); /* Keeps your text color as before */
  background-color: #23303f; /* Sets the solid background color */
}

.headerSection {
  margin-top: 0.8%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 25%;
  justify-content: space-between;
  padding-left: 0.5%;
  padding-right: 0.5%;
  /* border-color: white;
  border-width: 2px; */
}

.titleContainer {
  display: flex;
  flex-direction: column;
  width: 33%;
  /* border-width: 2px;
  border-color: white; */
  justify-content: center;
  align-items: center;
}

.imageContainer {
  display: flex;
  /* border-width: 2px;
  border-color: aquamarine; */
  width: 33% ;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
  
}

.linkedinContainer, .githubContainer, .mailContainer, .resumeContainer {
  display: flex;
  width: 33%;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease; 
}

.linkedinContainer:hover, .githubContainer:hover, .mailContainer:hover, .resumeContainer:hover {
  transform: translateY(-10px); 
}
/* Tooltip text container */
.tooltipText {
  visibility: hidden;
  width: 120px;
  background-color: #23303f;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-bottom: 2%;
  margin-left: -60px; /* Center the tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show the tooltip text when hovering over the icon container */
.linkedinContainer:hover .tooltipText, 
.githubContainer:hover .tooltipText, 
.mailContainer:hover .tooltipText,
.resumeContainer:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}


.pfpContainer {
  border-radius: 50%;
  border-color: white;
  border-width: 3px;
  overflow: hidden;
  width: 150; 
  height: 150; 
  display: flex; 
  transition-property: transform;
  transition-duration: 0.8s;
}

.pfpContainer:hover {
  transform: scale(1.06);
}




.iconContainer {
  display: flex;
  flex-direction: row;
  /* border-width: 2px;
  border-color: aqua; */
  width: 50%;
  height: 50%;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}


.nameContainer {
  font-size: 20;
  margin-top: -4%;
  /* border-color: aqua;
  border-width: 1px; */
  position: relative;
}

.nameContainer::after {
  content: '';
  position: absolute;
  bottom: 0; /* Aligns the underline at the bottom of the text */
  left: 0;
  width: 0%; /* Start width at 0% */
  height: 2px; /* Height of the underline */
  background-color: currentColor; /* Matches the color of the text */
  animation: growUnderline 2s forwards; /* Animation name, duration, and fill-mode */
}

@keyframes growUnderline {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.optionsContainer {
  display: flex;
  flex-direction: row;
  /* border: 1px solid rgb(128, 171, 150); */
  width: 100%;
  height: 10%;
  justify-content: center;
  align-items: center;
}


/* Styles for the tabs container */
.tabsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Adjust as necessary */
}

/* Styles for each tab */
.tabsContainer h1 {
  cursor: pointer;
  position: relative;
  padding: 10px; /* Adjust padding as needed */
  margin: 0 20px; /* Adjust margin as needed */
  position: relative; /* For potential additional styling */
  transition: color 2s ease; /* Smooth transition for text color or other properties */
}

/* Styles for the dynamic underline */
.underline {
  position: absolute; 
  height: 2px; 
  margin-top: 2%;
  /* margin-bottom: 1%; */
  background-color: rgb(255, 255, 255);
  transition: left 0.8s ease, width 0.8s ease; 
}

/* Optionally, add hover effects for tabs */
.tabsContainer h1:hover {
  color: #f3f3f3; /* Example hover color, adjust as needed */
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  animation: fadeInUp 0.5s ease-out forwards;
}

.bodyContainer {
  display: flex;
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding-bottom: 5%;
}




.AboutMeContainer {
  display: flex;
  /* border: 1px solid white; */
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}


.aboutMeText {
  /* border: 1px solid pink; */
  width: 60%;
  height: 80%;
  font-family:Arial, Helvetica, sans-serif;
  font-size: large;
  margin-left: 10pt;
  padding: 2%;
}

.highlightedText {
  color: rgb(249, 156, 56);
  font: weight 200px;;
}


.footerContainer {
  display: flex;
  text-align: center;
  align-items: center;
  padding: 20px 0;
  background-color: #23303f;
  color: #ffffff;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* border: 1px solid red; */
  justify-content: center;
}

.pfp {
  width:150px;
  height:150px;
}

.title {
  font-size: 50pt;
}

.linkdin {
  font-size: 55px;
}

.github {
  font-size:45px;
}

.mail {
  font-size: 47px;
}

.resume {
  font-size:40px;
}

@media screen and (max-width:789px) {

  .pfp {
    width: 50px;
    height: 50px;
  }

  .title {
    font-size: 10pt;
  }

  .linkdin {
    font-size: 20px;
  }

  .github {
    font-size:20px;
  }
  
  .mail {
    font-size: 20px;
  }
  
  .resume {
    font-size:20px;
  }

  .headerSection {
    margin-top: 0.8%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25%;
    justify-content: center;
    padding-left: 0.5%;
    padding-right: 0.5%;
    /* border-color: white;
    border-width: 2px; */
  }

  .tabsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150%; /* Adjust as necessary */
    /* border: 1px solid red; */
    height: 45px;
  }
  
  /* Styles for each tab */
  .tabsContainer h1 {
    cursor: pointer;
    position: relative;
   
    position: relative; /* For potential additional styling */
    transition: color 2s ease; /* Smooth transition for text color or other properties */
    font-size: 10px;
  }
  
  /* Styles for the dynamic underline */
  .underline {
    position: absolute; 
    height: 1px;
    width: 0.1%; 
    margin-top: 6.5%;
    /* margin-bottom: 1%; */
    background-color: rgb(255, 255, 255);
    transition: left 0.8s ease, width 0.8s ease; 
  }
  
  /* Optionally, add hover effects for tabs */
  .tabsContainer h1:hover {
    color: #f3f3f3; /* Example hover color, adjust as needed */
  }
  
  .aboutMeText {
    /* border: 1px solid pink; */
    width: 60%;
    height: 80%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: small;
    margin-left: 10pt;
    padding: 2%;
  }
   


  
}